<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jack.fitrhythmapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PickSongsActivity"
            android:label="@string/title_activity_pick_songs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RunningActivity"
            android:label="@string/title_activity_running"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseExercise"
            android:label="@string/title_activity_choose_exercise_and_difficulty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseIntensity"
            android:label="@string/title_activity_choose_intensity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
